md-card {
    margin-bottom: 1em;
    z-index: 1;
}

.the-duck-bg-img {
    position: absolute;
    width: 300px;
    height: 350px;
    bottom: 0;
    right: 0;
    background: url(./resources/entity-editor-duck-bg.svg) no-repeat;
}
