include ../mixins/select_control
include ../mixins/coupled_form_groups

label Collision Type
div
    +select(this.id('collisionPicker'))
br

label Body Type
div
    +select(this.id('bodyPicker'))
br

label Collision Dimensions
+width_height_form_group("Collision Width", "Collision Height", "data.info.dimension.x", "data.info.dimension.x")
