include ../mixins/select_control

form
    label Collision Type:&nbsp;
    +enumSelect('data.collisionType', 'entityframework.components.CollisionType', 'typeVals')
    br

    label Body Type:&nbsp;
    +enumSelect('data.bodyType', 'entityframework.components.CollisionBodyType', 'bodyTypeVals')
    br

    label Collision Dimensions
    div.form-group
        div.input-group
            div.input-group-addon.width-height-input-group Width
            input.form-control(type="text" placeholder="Collision Width" rv-value="data.info.dimension.x")
        div.input-group
            div.input-group-addon.width-height-input-group Height
            input.form-control(type="text" placeholder="Collision Height" rv-value="data.info.dimension.y")
