include ../mixins/select_control

div.form-element
    label Drawables
    br
    div.associated-form-element.form-group.input-group(role="group")
        +observableMapSelect(this.id("drawableSelect"), "", "formatObjectToKeys", "data.drawables", "form-element input-group-picker")
        button.btn.btn-success.no-radius(id=this.id("addDrawableButton"), type="button", rv-command-add-drawable)
            span &nbsp;
            i.fa.fa-plus
            span &nbsp;

        button.btn.btn-default.no-left-radius(id=this.id("delDrawableButton"), type="button", rv-command-delete-drawable)
            span &nbsp;
            i.fa.fa-minus-circle
            span &nbsp;


div(id=this.id("drawableVM"))
