include ../mixins/coupled_form_groups

label Position
+x_y_form_group("X Position", "Y Position", "data.info.position.x", "data.info.position.y")
br
label Velocity
+x_y_form_group("X Velocity", "Y Velocity", "data.info.velocity.x", "data.info.velocity.y")
