form
    label Position
    div.form-group
        div.input-group
            div.input-group-addon.x-y-input-group X
            input.form-control(type="text" placeholder="X Position" rv-value="data.info.position.x")
        div.input-group
            div.input-group-addon.x-y-input-group Y
            input.form-control(type="text" placeholder="Y Position" rv-value="data.info.position.y")

    label Velocity
    div.form-group
        div.input-group
            div.input-group-addon.x-y-input-group X
            input.form-control(type="text" placeholder="X Velocity" rv-value="data.info.velocity.x")
        div.input-group
            div.input-group-addon.x-y-input-group Y
            input.form-control(type="text" placeholder="Y Velocity" rv-value="data.info.velocity.y")
