@import '../forms';
@import '../fonts';

.edit-label {
    display: flex;
    flex-direction: row;
    align-items: center;

    dk-validated-input {
        height: 50px;
    }
}

.edit-label-text {
    font-size: $font-size-heading;
    margin-right: $spacer-unit / 2;
}