.hover {
    .non-hover-button {
        display: block;
    }
    .hover-button {
        display: none;
    }
}

.hover:hover {
    .non-hover-button {
        display: none;
    }
    .hover-button {
        display: block;
    }
}
