@import '../../../node_modules/@angular/material/prebuilt-themes/indigo-pink.css';
@import '../colors';

$height: 32px;

:host {
    display: block;
}

.header {
    padding: 2px 8px;
    background-color: $header-color;
    height: $height;
    line-height: $height;
    display: flex;
    align-items: center;

    .title {
        font-size: 14px;
    }

    .right-content {
        margin-left: auto;
    }
}

.pointer {
    cursor: pointer;
}
