$icon-button-width: 40px;
$icon-width: 16px;
$icon-font-size: 16px;

button {
    min-width: $icon-button-width;
    border-radius: 0;
    height: 100%;

    .icon-button {
        font-size: $icon-font-size;
    }

    .button-text {
        margin-left: $icon-width;
    }
}
