$dark-primary-color: #232323;
$primary-color: #717171;
$light-primary-color: #b7b7b7;
$ultra-light-primary-color: #ececec;
$text-icon-color: #212121;
$text-over-primary-color: white;
$text-over-secondary-color: white;
$accent-color: #9E9E9E;
$primary-text-color: #212121;
$secondary-text-color: #727272;
$divider-color:#B6B6B6;
$secondary-color: #526cfc;
$shadow-color: $secondary-text-color;
$control-background-color: white;
$selected-drawable-vm-border-color: #BDBDBD;
$selected-drawable-vm-non-white-bg-color: #EAEAEA;
$component-active-color: #fff;
$component-active-bg: $primary-color;
$project-action-color: #536dfe;

$editor-canvas-non-map-bg-color: #ebebeb;
