$dark-primary-color: #232323;
$primary-color: #717171;
$light-primary-color: #b7b7b7;
$ultra-light-primary-color: #ececec;
$text-icon-color: #212121;
$text-over-primary-color: white;
$text-over-secondary-color: white;
$accent-color: #9E9E9E;
$primary-text-color: #212121;
$secondary-text-color: #727272;
$divider-color:#B6B6B6;
$secondary-color: #526cfc;
$shadow-color: $secondary-text-color;
$control-background-color: white;
$selected-drawable-vm-border-color: #BDBDBD;
$selected-drawable-vm-non-white-bg-color: #EAEAEA;


$padding-base-vertical: 6px;
$padding-base-horizontal: 12px;

$padding-large-vertical: 10px;
$padding-large-horizontal: 16px;

$padding-small-vertical: 5px;
$padding-small-horizontal: 10px;

$padding-xs-vertical: 1px;
$padding-xs-horizontal: 5px;

$line-height-large: 1.33;
$line-height-small: 1.5;

$border-radius-base: 4px;
$border-radius-large: 6px;
$border-radius-small: 3px;

$component-active-color: #fff;
$component-active-bg: $primary-color;

$caret-width-base:         4px;
$caret-width-large:        5px;

$padding-form-horizontal: 0.5em;
$padding-form-vertical: 0.5em;

$default-indented-box-padding: 5px;

$canvas-footer-height: 46px;
$canvas-header-height: 46px;

html,body
{
  border: 0;
  margin: 0;
  padding: 0;
}

div {
  -webkit-user-select: none;
}

@mixin layout-box {
  box-sizing: border-box;
}

@mixin action {
  &:hover {
    cursor: pointer;
    color: $project-action-color;
  }
}

@mixin fill {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
}

@mixin input-group-addon($width) {
  min-width: $width;
}

@mixin shadow {
  box-shadow: $border-radius-small $border-radius-small $border-radius-small/2 $shadow-color;
}

@mixin one-line-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
}

@mixin indented-box {
    border-radius: $border-radius-base;
    padding-left: $default-indented-box-padding * 2;
    padding-right: $default-indented-box-padding;
    padding-bottom: $default-indented-box-padding;
}

#container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@import 'functions';
@import 'bootstrap_tweaks';

@import 'controls/index';
@import 'vm/index';
