$dark-primary-color: #232323;
$primary-color: #717171;
$light-primary-color: #b7b7b7;
$ultra-light-primary-color: #ececec;
$text-icon-color: #212121;
$accent-color: #9E9E9E;
$primary-text-color: #212121;
$secondary-text-color: #727272;
$divider-color:#B6B6B6;
$secondary-color: #526cfc;
$shadow-color: $secondary-text-color;

$padding-base-vertical: 6px;
$padding-base-horizontal: 12px;

$padding-large-vertical: 10px;
$padding-large-horizontal: 16px;

$padding-small-vertical: 5px;
$padding-small-horizontal: 10px;

$padding-xs-vertical: 1px;
$padding-xs-horizontal: 5px;

$line-height-large: 1.33;
$line-height-small: 1.5;

$border-radius-base: 4px;
$border-radius-large: 6px;
$border-radius-small: 3px;

$component-active-color: #fff;
$component-active-bg: $primary-color;

$caret-width-base:         4px;
$caret-width-large:        5px;

$padding-form-horizontal: 0.5em;
$padding-form-vertical: 0.5em;

html,body
{
  border: 0;
  margin: 0;
  padding: 0;
}

div {
  -webkit-user-select: none;
}

@mixin layout-box {
  box-sizing: border-box;
}

@mixin fill {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

@mixin input-group-addon($width) {
  min-width: $width;
}

@mixin shadow {
  box-shadow: $border-radius-small $border-radius-small $border-radius-small/2 $shadow-color;
}

#canvas-div {
  align-self: center;
}

#entity-canvas {
  background-color: white;
}

#container {
  position: absolute;
  background-color: $primary-color;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}


#canvas-view-container {
  @include layout-box;
  display: flex;
  justify-content: center;
  float: left;
  height: 100%;
  width: 65%;
  overflow: auto;
}

#entity-editor-container {
  @include layout-box;
  float: left;
  height: 100%;
  width: 35%;
}

.entity-editor {
  position: relative;
  border-left: solid 1px $dark-primary-color;

  .selector {
    div.dropdown, button[type=button] {
      @include fill;
    }

    @include layout-box;
    position: relative;
    top: 0;
    height: 40px;
    background-color: $primary-color;
    width:100%;
    color: white;
    padding: 3px;
  }

  .forms {
    @include layout-box;
    position: absolute;
    top: 40px;
    bottom: 40px;
    width: 100%;
    overflow-y: auto;
    background-color: $light-primary-color;

    .entity-form-list {
      z-index: 10;
      position: relative;
    }

    .the-duck-bg-img {
      position: absolute;
      width: 300px;
      height: 350px;
      bottom: 0;
      right: 0;
      background: url(../resources/duck.svg) no-repeat;
    }

    .list-element {
      @include shadow;
      margin: 0.5em;
      border: 1px solid $divider-color;
      border-radius: $border-radius-base;
      background-color: white;
    }

    .component-header {
      background-color: $secondary-color;
      color: white;
      border-top-left-radius: $border-radius-base;
      border-top-right-radius: $border-radius-base;
      overflow: auto;
      padding-left: $padding-form-horizontal;
    }

    .component-wrapper {
      padding: $padding-base-vertical $padding-form-horizontal;
    }

    .component-footer {
      height: 0.25em;
      background-color: $accent-color;
    }

  }

  .component-adder {
    @include layout-box;
    position: absolute;
    bottom: 0;
    height: 40px;
    width:100%;
    padding: $padding-base-vertical $padding-base-horizontal;
    background-color: $primary-color;
    color: $ultra-light-primary-color;
  }
}

.width-height-input-group {
  @include input-group-addon(70)
}

.x-y-input-group {
  @include input-group-addon(35)
}

/* Form Group UI improvements */
div.form-group .input-group:first-child .form-control:last-child {
  border-bottom: 0;
  border-bottom-right-radius: 0;
}

div.form-group .input-group:first-child .input-group-addon:first-child {
  border-bottom: 0;
  border-bottom-left-radius: 0;
}

div.form-group .input-group:last-child .form-control:last-child {
  border-top-right-radius: 0;
}

div.form-group .input-group:last-child .input-group-addon:first-child {
  border-top-left-radius: 0;
}

div.form-group .input-group:first-child .input-group-addon:first-child {
  border-bottom: 0;
  border-bottom-left-radius: 0;
}

div.form-group .input-group:not(:last-child):not(:first-child) .form-control:last-child {
  border-bottom: 0;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

div.form-group .input-group:not(:last-child):not(:first-child) .input-group-addon:first-child {
  border-bottom: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

