@import 'colors';

$base-font-size: 13px;
$font-size-massive: 4.5*$base-font-size;
$font-size-heading: 1.5*$base-font-size;
$font-size-label: $base-font-size;
$font-size-normal: $base-font-size;

$spacer-unit: $base-font-size;

$padding-base-vertical: 0.5*$base-font-size;
$padding-base-horizontal: $base-font-size;

$border-radius-base: 4px;
$border-radius-large: 6px;
$border-radius-small: 3px;

$padding-form-horizontal: 0.5em;
$padding-form-vertical: 0.5em;

$default-indented-box-padding: 5px;

$canvas-footer-height: 3.5*$base-font-size;
$canvas-header-height: 3.5*$base-font-size;

html,body
.scss{
  border: 0;
  margin: 0;
  padding: 0;
}

div {
  -webkit-user-select: none;
}

@mixin layout-box {
  box-sizing: border-box;
}

@mixin action {
  &:hover {
    cursor: pointer;
    color: $project-action-color;
  }
}

@mixin clean-link {
    @include action;
    text-decoration: none;
    display: block;
}

@mixin fill {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
}

@mixin input-group-addon($width) {
  min-width: $width;
}

@mixin shadow {
  box-shadow: $border-radius-small $border-radius-small $border-radius-small/2 $shadow-color;
}

@mixin one-line-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@mixin indented-box {
    border-radius: $border-radius-base;
    padding-left: $default-indented-box-padding * 2;
    padding-right: $default-indented-box-padding;
    padding-bottom: $default-indented-box-padding;
}

@mixin rounded-corners {
    border-radius: $border-radius-base;
}

#container {
  @include fill;
}

@import 'mixins/index';
@import 'functions';
@import 'bootstrap_tweaks';

@import 'controls/index';
@import 'vm/index';
