# Ignore build files and dependencies
typings/
build/
node_modules/
.sass-cache/
npm-debug.log

# Ignore certain IntelliJ files
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/libraries
.settings/launch.json

# Ignore OSX files
.DS_Store

# Ignore TODO file
TODO

# yarn erro
yarn-error.log
