include ../mixins/select_control
include ../mixins/drawable_type_control
include ../mixins/multiple_drawables

extends ./generic_drawable.jade

block drawable_label
    h4 Animated Drawable

block specific_drawable
    label Speed
    div
        input.form-control(type="text" placeholder="Speed" rv-value="data.duration")
    br
    
    +multiple_drawables(
        "Frame", 
        "Frames", 
        this.id("selDrawableType"),
        this.id("drawableSelect"),
        this.id("delDrawableBtn"),
        this.id("sectionSelDrawableVM"),
        this.id("containerSelDrawableVM"),
        this.id("selDrawableVM"))
