include ../mixins/select_control
include ../mixins/drawable_type_control

extends ./generic_drawable.jade

block drawable_label
    h4 Container Drawable

block specific_drawable
    label Add Drawable
    +drawable_type(this.id("selDrawableType"))
    br
    
    label Drawables
    br
    div.associated-form-element.form-group.input-group(role="group")
        +select(this.id("drawableSelect"), "Select Drawable", "form-element input-group-picker")
        button.btn.btn-default.no-left-radius(id=this.id("delDrawableButton"), type="button", rv-command-delete-drawable)
            span &nbsp;
            i.fa.fa-minus-circle
            span &nbsp;
    
    div.gone(id=this.id("sectionSelDrawableVM"))
        br
        label Selected Drawable
        div.container-sel-drawable-vm(id=this.id("containerSelDrawableVM"))
            div(id=this.id("selDrawableVM"))
