include ../mixins/coupled_form_groups

block specific_shape
br

label Color
+r_g_b_a_form_group("Red", "Green", "Blue", "Alpha", "data.fillColor.r", "data.fillColor.g", "data.fillColor.b", "data.fillColor.a")
