include ../mixins/file_dialog_control

extends ./generic_drawable.jade

block drawable_label
    h4 Image Drawable
    
block specific_drawable
    label Image File
    +file_selector("data.textureKey")(rv-command-open-image-file)
    
    div.gone(id=this.id("partialImgPanel"))
        br
        div.panel.panel-default
            div.panel-heading.form-inline(id=this.id("partialImgPanelHeader"), rv-command-partial-header-click)
                div.form-group
                    label Partial Image? &nbsp;
                    input(type="checkbox" rv-unchecked="data.isWholeImage")
            div.panel-body.gone(id=this.id("partialImgPanelBody"))
                label Starting Coordinates
                +x_y_control("Partial Image X", "Partial Image Y", "data.textureRect.left", "data.textureRect.top")
                br
                
                label Dimensions
                +width_height_control("Partial Image Width", "Partial Image Height", "data.textureRect.width", "data.textureRect.height")
