include ../mixins/coupled_form_groups
extends ./generic_shape.jade

block specific_shape
    label Rectangle Dimensions
    +width_height_form_group("Rectangle Width", "Rectangle Height", "data.dimension.x", "data.dimension.y")

