<!DOCTYPE html>
<html>
  <head>
    <title>Hello World!</title>
    <link rel="stylesheet" type="text/css" href="../styles/index.css" />
    <link rel="stylesheet" type="text/css" href="../dependencies/bootstrap.css" />
    <script src="../dependencies/sightglass.js"></script>
    <script src="../dependencies/rivets.js"></script>
    <script src="../dependencies/jquery.js"></script>
    <script src="../dependencies/bootstrap.js"></script>
    <script>
        canvasvm = require("../scripts/views/CanvasViewModel.js");
        physics = require("../scripts/components/PositionComponent.js");
        require("../scripts/RivetSetup.js")(this)

        phComp = new physics({ x: 3, y:6 });
        phVM = phComp.componentViewModel();
        $(document).ready(function () {
            data = { text: "Hellow View!" };

            canvasmodel = new canvasvm($("#canvasView"),data,window);
            canvasmodel.render();

            rivets.bind($("#entityView"), {})
            //rivets.init("view-model",$("#entityView"), { vm: phVM, data: phComp })
           // physicsmodel = new phVM($("#entityView"),phComp,window);
           // physicsmodel.render();
        });
    </script>
  </head>
  <body>
    <div class="sidebarview fill_view">
        <div id="canvasView" class="content view_root">

        </div>
        <div id="entityView" class="sidebar view_root">
            <view-model vm="@phVM" data="@phComp" />
        </div>
    </div>
  </body>
</html>
