div.selector
    label Entity:&nbsp
    select.selectpicker
        option(rv-each-entity="entityNames | formatTest") { entity }

div.forms(id=this.id("entity-form-container"))
    div.entity-form-list(id=this.id("entity-form-list"))
    div.the-duck-bg-img


div.component-adder(id=this.id("add-component-button"))
    p Control to add components will go here!

