div.selector
    label Entity:&nbsp
    select.selectpicker
        option(rv-each-entity="entityNames") { entity }

div.forms(id=this.id("entity-form-container"))
    div.the-duck-bg-img
    div.entity-form-list(id=this.id("entity-form-list"))


div.component-adder(id=this.id("add-component-button"))
    div.input-group
        select.selectpicker.add-component-select.input-group-picker(id=this.id("componentsToAddPicker"), title="Available Components")
            option(rv-each-component="componentsNotOnEntity") { component }
        span.input-group-btn(rv-command-add-component)
            button.btn.btn-success(type="button", rv-enabled="isAddComponentEnabled") Add Component

