@import '../forms';
@import '../fonts';

.entity-name-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $spacer-unit;
    height: 50px;

    .entity-name {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .entity-name-text {
        font-size: $font-size-heading;
        margin-right: $spacer-unit / 2;
    }
}
