@import "../forms";
@import "../fonts";

.entity-name-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: $spacer-unit;
  height: 50px;
  font-size: $font-size-heading;
}
