ul.map-list
    li(rv-each-map="maps" rv-command-open="map")
        { map.name }

div.associated-form-element.form-group.input-group(role="group") 
    button.btn.btn-primary(rv-command-create) i.fa.fa-plus
