div.editor-container
        
    div.editor-content
        div(id=this.id("canvas-view-container"))
        div.entity-editor(id=this.id("entity-editor-container"))

    div.editor-footer
        div.canvas-properties.form-inline(id=this.id("canvasProperties"))
            div.form-group
                label Zoom &nbsp;
                div.input-group
                    input.form-control(type="text", placeholder="Zoom" rv-value="canvas.properties.zoom")
                    span.input-group-addon %
            div.form-group
                label Width &nbsp;
                input.form-control(type="text", placeholder="Map Width" rv-value="canvas.properties.dimensions.x")
            div.form-group
                label Height &nbsp;
                input.form-control(type="text", placeholder="Map Height" rv-value="canvas.properties.dimensions.y")
            div.form-group
                label Grid Size &nbsp;
                input.form-control(type="text", placeholder="Grid Size" rv-value="canvas.grid.cellDimensions")
            div.form-group
                label Show Grid &nbsp;
                input(type="checkbox" rv-checked="canvas.properties.isGridVisible")
            
