include ./select_control.jade

mixin drawable_type_picker(divId, pickerTitle, extraClasses)
    label Drawable Type
    div.associated-form-element.form-group.input-group
    +select(pickerId, pickerTitle, extraClasses)
