mixin file_selector(rvFileDisplayedText)
    div.form-inline.text-ellipsis
        button.btn.btn-default(type="button")&attributes(attributes) Browse
        &nbsp;&nbsp;
        strong
            em
                span(rv-text=rvFileDisplayedText)
