mixin toolbar_button(buttonTitle, iconClass)
    button.btn.btn-primary.toolbar-btn(type="button", data-toggle="tooltip", data-placement="bottom", title=buttonTitle, rv-command-save) 
        span &nbsp;
        i.fa(class=iconClass)
        span &nbsp;
