.entity-editor {
  @include layout-box;
  float: left;
  height: 100%;
  width: 35%;
  position: relative;
  border-left: solid 1px $dark-primary-color;

  .btn-delete-entity {
      float: right;
  }

  .selector {
    @include layout-box;
    position: relative;
    top: 0;
    height: 40px;
    background-color: $primary-color;
    width:100%;
    color: $text-over-primary-color;
    padding: 3px;
  }

  .forms {
    @include layout-box;
    position: absolute;
    top: 40px;
    bottom: 40px;
    width: 100%;
    overflow-y: auto;
    background-color: $light-primary-color;

    .entity-form-list {
      position: relative;
    }

    .the-duck-bg-img {
      position: absolute;
      width: 300px;
      height: 350px;
      bottom: 0;
      right: 0;
      background: url(../resources/entity-editor-duck-bg.svg) no-repeat;
    }

    .list-element {
      @include shadow;
      margin: 0.5em;
      border: 1px solid $divider-color;
      border-radius: $border-radius-base;
      background-color: $control-background-color;
    }

    .component-header {
      background-color: $secondary-color;
      color: $text-over-secondary-color;
      border-top-left-radius: $border-radius-base;
      border-top-right-radius: $border-radius-base;
      overflow: auto;
      padding-left: $padding-form-horizontal;
    }

    .component-header-content {
      width: 100%;
    }

    .component-close-container {
      text-align: right;
      padding-right: 15px;
    }

    .component-close-btn {
      cursor: pointer;
    }

    .component-wrapper {
      padding: $padding-base-vertical $padding-form-horizontal;
    }

    .component-footer {
      height: 0.25em;
      background-color: $accent-color;
    }

  }

  .component-adder {
    @include layout-box;
    z-index: 10;
    position: absolute;
    bottom: 0;
    height: 46px;
    width:100%;
    padding: $padding-base-vertical $padding-base-horizontal;
    background-color: $primary-color;
    color: $ultra-light-primary-color;
  }

  .add-component-select {
    width: 100%;
    margin-right: 7px;
  }

}
