html
    head
        meta(charset="utf-8")
        title Duckling Unit Tests
        
        link(rel="shortcut icon" type="image/png" href="../../node_modules/jasmine-core/images/jasmine_favicon.png")
        link(rel="stylesheet" href="../../node_modules/jasmine-core/lib/jasmine-core/jasmine.css")
        
        script(src="../../node_modules/jasmine-core/lib/jasmine-core/jasmine.js")
        script(src="../../node_modules/jasmine-core/lib/jasmine-core/jasmine-html.js")
        script(src="../../node_modules/jasmine-core/lib/jasmine-core/boot.js")
        each file in jsdepends
            script(type='text/javascript' src="../../"+file)
        script(src="spec.js")
    body
