@import "../../forms";

:host {
    display: flex;
    flex-direction: column;
}

.topRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* TODO(mdc-migration): The following rule targets internal classes of slider that may no longer apply for the MDC version. */
    mat-slider {
        flex: 1 0 auto;
    }

    dk-icon-button {
        margin-left: $spacer-unit;
    }
}

dk-browse-asset {
    margin-top: 12px;
}
