@import "../../forms";

:host {
  display: flex;
  flex-direction: column;
}

.topRow {
  display: flex;
  justify-content: space-between;
  align-items: center;

  mat-slider {
    flex: 1 0 auto;
  }

  dk-icon-button {
    margin-left: $spacer-unit;
  }
}

dk-browse-asset {
  margin-top: 12px;
}
