@import '../../forms';
@import '../../colors';

:host {
    display: flex;
}

.grid-size {
    width: 75px;
    margin-right: $spacer-unit / 2;
}

.show-grid {
    align-self: center;
}

dk-canvas-scale {
    margin-left: auto;
}
