@import "../../colors";
@import '../../fonts';

:host {
    display: flex;
    align-items: center;
}

.map-name {
    float: right;
    overflow: hidden;
    margin-left: auto;
}

.separator {
    border-left: 1px solid $light-primary-color;
    padding: 1px 0 1px 0;
    height: 80%;
}
