div.canvas-menu-btns
    button(rv-command-undo) Undo
    button(rv-command-redo) Redo
    button(rv-command-save) Save
div.canvas-div(id=this.id("canvas-div"))
    canvas(id="entity-canvas",width="800",height="500",rv-command-on-click)
