div.canvas-view(id=this.id("canvas-view"))
    div.canvas-scroll(id=this.id("canvas-scroll")) 
    div.canvas-menu-btns
        button(rv-command-undo) Undo
        button(rv-command-redo) Redo
        button(rv-command-save) Save
        select(id=this.id("toolSelect"))
            option(value="mapMove") Map Move
            option(value="create") Create Entity
            option(value="select") Select Entity
            option(value="move") Move Entity
    canvas.entity-canvas(id=this.id("entity-canvas"),width="800",height="500")
