@import '../forms';
@import '../fonts';
@import '../colors';
@import '../../../node_modules/@angular/material/core/style/elevation';

$background-color: #FFFFFF;
$attribute-list-background-color: $ultra-light-primary-color;
$attribute-list-width: 200px;

.container {
    background-color: $background-color;
    width: 800px;
    height: 600px;
    display: flex;

    .left-section {
        flex: 0 0 $attribute-list-width;
        display: flex;
        flex-direction: column;
        background-color: $attribute-list-background-color;

        
        md-list {
            max-width: $attribute-list-width;
            flex: 1 1 auto;
            padding: 0;
            overflow-y: auto;
            overflow-x: hidden;

            span {
                overflow-x: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }

    .right-section {
        flex: 1 1 auto;
        overflow: auto;
        padding-top: $spacer-unit * 2;
        padding-left: $spacer-unit * 2;
        padding-right: $spacer-unit * 2;
        display: flex;
        flex-direction: column;

        dk-json-schema-edit {
            flex: 1 1 auto;
            overflow: auto;
        }

        .adding-section-footer {
            flex-shrink: 0;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            padding: $spacer-unit 0;

            button {
                margin: 0 ($spacer-unit / 2);
            }
        }
    }
}