$listContainerWidth: 248px;

mat-nav-list {
  max-height: 60vh;
  overflow-y: auto;
  overflow-x: hidden;
  width: $listContainerWidth;
}

mat-list-item {
  width: $listContainerWidth - 16px;
}

.map-name-container {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  min-width: 0;
}

.new-map-name-field {
  margin-left: 20px;
  margin-top: 12px;
}
