@import "../forms";

.json-content {
    font-family: "Courier", sans-serif !important;

    .json-key {
        margin-left: $spacer-unit * 2;
    }
}

.array-type {
    margin-left: $spacer-unit * 2;
}
