@import '../misc-mixins';
@import '../colors';

$shell-padding: 16px;
.shell {
    @include fill;

    padding: $shell-padding;
    box-sizing: border-box;
    flex-flow: row;
    display: flex;
    background-color: $ultra-light-primary-color;

    .canvas-container {
        width: 750px;
        flex: 1 1 auto;
        margin-right: $shell-padding / 2;
        padding: 0;
    }

    .entity-editor-container {
        flex: 0 0 30%;
        margin-left: $shell-padding / 2;
        min-width: 500px;
        overflow-y: auto;
    }

    .the-duck-bg-img {
        position: absolute;
        width: 300px;
        height: 350px;
        bottom: 0;
        right: 0;
        background: url(./resources/images/entity-editor-duck-bg.svg) no-repeat;
    }
}
