html
    head
        title="duckling"
        each file in ["dependencies/dependencies.css","styles/duckling.css"]
            link(rel="stylesheet", type="text/css", href=file)
        each file in ["dependencies/dependencies.js", "scripts/duckling.js", "scripts/duckling_views.js"]
            script(type='text/javascript' src=file)
    body
        h1 Hello Jade!
        div(id="ViewRoot")
        script(type='text/javascript').
            $(document).ready(function() {
                var context = new framework.Context(views.templates, window);
                var canvasVM = (new viewmodels.CanvasVM()).init(
                        context,
                        document.getElementById("ViewRoot"),
                        {text: "Hello World!"}
                );
            });