html
    head
        title="duckling"
        meta(charset="UTF-8")
        each file in cssdepends
            link(rel="stylesheet", type="text/css", href="../"+file)
        each file in jsdepends
            script(type='text/javascript' src="../"+file)
        script(type='text/javascript' src="scripts/bundle/main.js")
    body
        div(id="container")
        script(type='text/javascript').
            $(document).ready(function() {
                main(document.getElementById("container"),views.templates,window);
            });

        form.gone
            input(id="hidden-input-for-file-dialog",type="file")
            input(id="hidden-input-for-dir-dialog",type="file",nwdirectory)
