// Primary element colors
$dark-primary-color: #232323;
$primary-color: #717171;
$light-primary-color: #b7b7b7;
$ultra-light-primary-color: #ececec;

// Secondary element colors
$accent-color: #FF5252;

// Text colors
$text-and-icons-color: #FFFFFF;
$primary-text-color: #212121;
$secondary-text-color: #727272;

// Editor colors
$action-color: #536dfe;
$header-color: #EBEBEB;
