// Primary element colors
$primary-color: #717171;
$dark-primary-color: #232323;
$light-primary-color: #b7b7b7;
$ultra-light-primary-color: #ececec;

// Secondary element colors
$secondary-color: #526cfc;

// Text colors
$primary-text-color: #212121;
$secondary-text-color: #727272;

// Editor colors
$action-color: #536dfe;
