$form-label-padding-top: 20px;
$form-label-padding-right: 0;
$form-label-padding-down: 5px;
$form-label-padding-left: 0;
$form-label-padding: $form-label-padding-top $form-label-padding-right $form-label-padding-down $form-label-padding-left;

$spacer-unit: 13px;

.form-label {
    padding: $form-label-padding;
    overflow: hidden;
    text-overflow: ellipsis;
}

.inline-entry-field {
    display: inline-block;
    margin-right: 35px;
}

@mixin action {
    &:hover {
      cursor: pointer;
      color: $action-color;
    }
}

@mixin clean-link {
    @include action;
    text-decoration: none;
    display: block;
}

.unselectable {
   -webkit-user-select: none;
   user-select: none;
}
