@import '../resources/css/font-lato.css';
@import './colors.scss';

html, body, * {
    font-family: "Lato", sans-serif;
    padding: 0;
    margin: 0;
}

input {
    background-color: transparent;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
 
::-webkit-scrollbar-track, ::-webkit-scrollbar-corner {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #7d7d7d;
}
