div {
    margin: 0;
    padding: 0;
} 

div {
    box-sizing: border-box;
}

.hello_css 
{

}

.view_root
{
    position: relative;
}

.fill_view
{
    position: absolute; 
    border: solid;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

table.data_table
{
    width:100%;
    border-collapse: collapse;
    text-align: left;
}

table.data_table th, table.data_table td
{
    border: 1px solid black;
    padding: 5px;
}


#firstView
{
    height: 775px;
    width: 1000px;
    overflow: auto;
}

.sidebarview .content
{
    float: left;
    width: 75%;
    height: 100%;
    padding: 5px;
}

.sidebarview .sidebar
{
    padding: 5px;
    overflow: auto;
    height: 100%;
    width: 25%;
    float: left;
}
