.input-group-picker {
  width: 220px;
}

.input-group-picker button {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.width-height-input-group {
  @include input-group-addon(70)
}

.x-y-input-group {
  @include input-group-addon(35)
}

.r-g-b-a-input-group {
  @include input-group-addon(36)
}
