.toolbar-btn:not(:hover) {
    -webkit-appearance: none;
    outline: none;
    color: black;
    background: transparent;
}

.toolbar-btn {
    border: 0;
}

.toolbar-separator {
    width: 1px;
    border: 1px solid gray;
    margin-left: 5px;
    margin-right: 5px;
}

.toolbar-tool-select {
    margin-left: 10px;
    margin-right: 10px;
}
