:host {
    display: block;
}

::selection {
    background: transparent;
}

.canvas-container {
    cursor: default;
    height: 0;
}

.canvas-container canvas {
    cursor: default;
}

.canvas {
    position: absolute;
    z-index: -1;
}
