:host {
    display: block;
}

.canvas-container {
    height: 100%;
    cursor: default;
}

.canvas-container canvas {
    cursor: default;
}

.canvas-container canvas, .canvas-container canvas:focus {
     outline: 0 solid transparent;
}

.canvas {
    position: fixed;
    z-index: -1;
}

.canvas-scroll {
    position: absolute;
    top: 0;
    left: 0;
}
