@import '../misc-mixins';
@import '../../../node_modules/@angular2-material/core/style/core.css';

:host {
    height: 100%;
    display: block;
}

$canvas-top-bar-height: 35px;
$canvas-bottom-bar-height: 35px;
$canvas-left-right-border-width: $canvas-top-bar-height / 2;

md-card {
    padding: 0;
    height: 100%;

    .canvas-top-toolbar {
        width: 100%;
        height: $canvas-top-bar-height;
    }

    .canvas {
        overflow: hidden;
        background-color: red;
        position: absolute;
        top: $canvas-top-bar-height;
        left: $canvas-left-right-border-width;
        right: $canvas-left-right-border-width;
        bottom: $canvas-bottom-bar-height;
    }

    .canvas-bottom-toolbar {
        width: 100%;
        height: $canvas-bottom-bar-height;
        position: absolute;
        bottom: 0;
    }
}
