@import '../misc-mixins';
@import '../colors';
@import '../forms';
@import '../../../node_modules/@angular2-material/core/style/elevation';

:host {
    height: 100%;
    display: block;
}

$canvas-top-bar-height: 35px;
$canvas-bottom-bar-height: 50px;
$canvas-left-right-border-width: $canvas-top-bar-height / 2;

.canvas-toolbar {
    background-color: $header-color;
}

md-card {
    padding: 0;
    height: 100%;
    z-index: 1;
    min-width: 650px;

    .canvas-top-toolbar {
        @extend .canvas-toolbar;
        width: 100%;
        height: $canvas-top-bar-height;
    }

    dk-canvas {
        overflow: auto;
        position: absolute;
        top: $canvas-top-bar-height;
        right: 0;
        bottom: $canvas-bottom-bar-height;
        left: 0;
    }

    dk-canvas::selection {
        background: #ff0000;
    }

    dk-canvas:focus {
        outline: none;
    }

    .canvas-bottom-toolbar {
        @extend .canvas-toolbar;
        width: 100%;
        height: $canvas-bottom-bar-height;
        padding: 5px 5px 5px 5px;
        box-sizing: border-box;
        position: absolute;
        bottom: 0;
    }
}
