@font-face {
  font-family: 'Lato';
  font-weight: 100;
  font-style: normal;
  src: url('../fonts/Lato-100/Lato-100.eot');
  src: url('../fonts/Lato-100/Lato-100.eot?#iefix') format('embedded-opentype'),
       local('Lato Hairline'),
       local('Lato-100'),
       url('../fonts/Lato-100/Lato-100.woff2') format('woff2'),
       url('../fonts/Lato-100/Lato-100.woff') format('woff'),
       url('../fonts/Lato-100/Lato-100.ttf') format('truetype'),
       url('../fonts/Lato-100/Lato-100.svg#Lato') format('svg');
}

@font-face {
  font-family: 'Lato';
  font-weight: 300;
  font-style: normal;
  src: url('../fonts/Lato-300/Lato-300.eot');
  src: url('../fonts/Lato-300/Lato-300.eot?#iefix') format('embedded-opentype'),
       local('Lato Light'),
       local('Lato-300'),
       url('../fonts/Lato-300/Lato-300.woff2') format('woff2'),
       url('../fonts/Lato-300/Lato-300.woff') format('woff'),
       url('../fonts/Lato-300/Lato-300.ttf') format('truetype'),
       url('../fonts/Lato-300/Lato-300.svg#Lato') format('svg');
}

@font-face {
  font-family: 'Lato';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/Lato-regular/Lato-regular.eot');
  src: url('../fonts/Lato-regular/Lato-regular.eot?#iefix') format('embedded-opentype'),
       local('Lato Regular'),
       local('Lato-regular'),
       url('../fonts/Lato-regular/Lato-regular.woff2') format('woff2'),
       url('../fonts/Lato-regular/Lato-regular.woff') format('woff'),
       url('../fonts/Lato-regular/Lato-regular.ttf') format('truetype'),
       url('../fonts/Lato-regular/Lato-regular.svg#Lato') format('svg');
}

@font-face {
  font-family: 'Lato';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/Lato-700/Lato-700.eot');
  src: url('../fonts/Lato-700/Lato-700.eot?#iefix') format('embedded-opentype'),
       local('Lato Bold'),
       local('Lato-700'),
       url('../fonts/Lato-700/Lato-700.woff2') format('woff2'),
       url('../fonts/Lato-700/Lato-700.woff') format('woff'),
       url('../fonts/Lato-700/Lato-700.ttf') format('truetype'),
       url('../fonts/Lato-700/Lato-700.svg#Lato') format('svg');
}

@font-face {
  font-family: 'Lato';
  font-weight: 900;
  font-style: normal;
  src: url('../fonts/Lato-900/Lato-900.eot');
  src: url('../fonts/Lato-900/Lato-900.eot?#iefix') format('embedded-opentype'),
       local('Lato Black'),
       local('Lato-900'),
       url('../fonts/Lato-900/Lato-900.woff2') format('woff2'),
       url('../fonts/Lato-900/Lato-900.woff') format('woff'),
       url('../fonts/Lato-900/Lato-900.ttf') format('truetype'),
       url('../fonts/Lato-900/Lato-900.svg#Lato') format('svg');
}

@font-face {
  font-family: 'Lato';
  font-weight: 100;
  font-style: italic;
  src: url('../fonts/Lato-100italic/Lato-100italic.eot');
  src: url('../fonts/Lato-100italic/Lato-100italic.eot?#iefix') format('embedded-opentype'),
       local('Lato Hairline Italic'),
       local('Lato-100italic'),
       url('../fonts/Lato-100italic/Lato-100italic.woff2') format('woff2'),
       url('../fonts/Lato-100italic/Lato-100italic.woff') format('woff'),
       url('../fonts/Lato-100italic/Lato-100italic.ttf') format('truetype'),
       url('../fonts/Lato-100italic/Lato-100italic.svg#Lato') format('svg');
}

@font-face {
  font-family: 'Lato';
  font-weight: 300;
  font-style: italic;
  src: url('../fonts/Lato-300italic/Lato-300italic.eot');
  src: url('../fonts/Lato-300italic/Lato-300italic.eot?#iefix') format('embedded-opentype'),
       local('Lato Light Italic'),
       local('Lato-300italic'),
       url('../fonts/Lato-300italic/Lato-300italic.woff2') format('woff2'),
       url('../fonts/Lato-300italic/Lato-300italic.woff') format('woff'),
       url('../fonts/Lato-300italic/Lato-300italic.ttf') format('truetype'),
       url('../fonts/Lato-300italic/Lato-300italic.svg#Lato') format('svg');
}

@font-face {
  font-family: 'Lato';
  font-weight: 400;
  font-style: italic;
  src: url('../fonts/Lato-italic/Lato-italic.eot');
  src: url('../fonts/Lato-italic/Lato-italic.eot?#iefix') format('embedded-opentype'),
       local('Lato Italic'),
       local('Lato-italic'),
       url('../fonts/Lato-italic/Lato-italic.woff2') format('woff2'),
       url('../fonts/Lato-italic/Lato-italic.woff') format('woff'),
       url('../fonts/Lato-italic/Lato-italic.ttf') format('truetype'),
       url('../fonts/Lato-italic/Lato-italic.svg#Lato') format('svg');
}

@font-face {
  font-family: 'Lato';
  font-weight: 700;
  font-style: italic;
  src: url('../fonts/Lato-700italic/Lato-700italic.eot');
  src: url('../fonts/Lato-700italic/Lato-700italic.eot?#iefix') format('embedded-opentype'),
       local('Lato Bold Italic'),
       local('Lato-700italic'),
       url('../fonts/Lato-700italic/Lato-700italic.woff2') format('woff2'),
       url('../fonts/Lato-700italic/Lato-700italic.woff') format('woff'),
       url('../fonts/Lato-700italic/Lato-700italic.ttf') format('truetype'),
       url('../fonts/Lato-700italic/Lato-700italic.svg#Lato') format('svg');
}

@font-face {
  font-family: 'Lato';
  font-weight: 900;
  font-style: italic;
  src: url('../fonts/Lato-900italic/Lato-900italic.eot');
  src: url('../fonts/Lato-900italic/Lato-900italic.eot?#iefix') format('embedded-opentype'),
       local('Lato Black Italic'),
       local('Lato-900italic'),
       url('../fonts/Lato-900italic/Lato-900italic.woff2') format('woff2'),
       url('../fonts/Lato-900italic/Lato-900italic.woff') format('woff'),
       url('../fonts/Lato-900italic/Lato-900italic.ttf') format('truetype'),
       url('../fonts/Lato-900italic/Lato-900italic.svg#Lato') format('svg');
}
